---
import PostTags from '@/components/PostTags.astro';
import PostLayout from '@/layouts/PostLayout.astro';

import type { GetStaticPaths } from 'astro';
import { getCollection, render } from 'astro:content';
import { parsePostData, postDateToString } from '@/components/post';
import type {PostDate} from '@/components/post';

export const getStaticPaths = (async () => {
  const posts = await getCollection('posts');
  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
}) satisfies GetStaticPaths;

function toDatetimeAttributeFormat({year, month, day}: PostDate) {
    return `${year}-${month}-${day}`;
}

const { post } = Astro.props;

const { title, publishDate, isDraft, tags } = parsePostData(post);

const { Content } = await render(post);
---

<PostLayout title={title}>
  <h1>{title}</h1>
  <div style="display:flex;flex-direction:column;gap:4px;">
  <span>Published on <time datetime={toDatetimeAttributeFormat(publishDate)}>{postDateToString(publishDate)}<time></span>
  <PostTags tags={tags} />
  </div>
  <hr />
  <Content />
</PostLayout>
