---
import PostLayout from '@/layouts/PostLayout.astro';

import type { GetStaticPaths } from 'astro';
import { getCollection, render } from 'astro:content';

export const getStaticPaths = (async () => {
  const posts = await getCollection('posts');
  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
}) satisfies GetStaticPaths;

function toDatetimeAttributeFormat(d: string) {
    const year = d.slice(-4);
    const month = d.slice(3, -5);
    const day = d.slice(0, 2);
    return `${year}-${month}-${day}`;
}

const { post } = Astro.props;

const { title, publishDate, isDraft } = post.data;

const { Content } = await render(post);
---

<PostLayout title={title}>
  <h1>{title}</h1>
  <span>Published on <date datetime={toDatetimeAttributeFormat(publishDate)}>{publishDate}</date></span>
  <hr />
  {isDraft && 
  <Fragment>
    <p class="text-2xl">👷🚧 THIS POST IS IN DRAFT AND A WORK IN PROGRESS 🚧</p>
    <hr />
  </Fragment>}
  <Content />
</PostLayout>
