---
import PostLayout from '../../layouts/PostLayout.astro';

import type { GetStaticPaths } from 'astro';
import { getCollection, render } from 'astro:content';

export const getStaticPaths = (async () => {
  const posts = await getCollection('posts');
  return posts.map((p) => ({
    params: { id: p.id },
    props: { post: p },
  }));
}) satisfies GetStaticPaths;

function toDatetimeAttributeFormat(d: string) {
    const year = d.slice(-4);
    const month = d.slice(3, -5);
    const day = d.slice(0, 2);
    return `${year}-${month}-${day}`;
}

const { post } = Astro.props;

const { Content } = await render(post);
---

<PostLayout title={post.data.title}>
  <h1>{post.data.title}</h1>
  <span>Published on <date datetime={toDatetimeAttributeFormat(post.data.publishDate)}>{post.data.publishDate}</date></span>
  <Content />
</PostLayout>
