---
import { getCollection } from 'astro:content';
import BasicLayout from '@/layouts/BasicLayout.astro';
import PostEntry from '@/components/PostEntry.astro';
import {parsePostData, comparePostDate} from '@/components/post';

const postsCollection = await getCollection('posts');
const posts = postsCollection.map(parsePostData);
---

<BasicLayout title="Posts">
  <p class="mb-6">Things that keep bouncing around in my head end up here.</p>
  <ul style="display:grid;grid-template-columns:min-content min-content auto;gap:16px 8px;">
    {
      posts
        .sort((a, b) => comparePostDate(a.publishDate, b.publishDate))
        .reverse()
        .filter(({isDraft}) => !isDraft || import.meta.env.DEV)
        .map(({ id, title, isDraft, publishDate, tags }) => (
        <li
          style="display:grid;grid-column:1/-1;grid-template-columns:subgrid;"
          ><PostEntry title={title} id={id} isDraft={isDraft} publishDate={publishDate} tags={tags}
        /></li>
      ))
    }
  </ul>
</BasicLayout>
