---
import Link from '@/components/Link.astro';
import type { PostDate } from './post';
import PostTags from './PostTags.astro';
import {postDateToString} from '@/components/post';

interface Props {
  title: string;
  id: string;
  publishDate: PostDate;
  isDraft: boolean;
  tags: string[];
}

const { title, id, isDraft, publishDate, tags } = Astro.props;

---

<time
  >{postDateToString(publishDate)}</time
><span
  >{isDraft && "🚧"}</span
><div
  style="display:flex;flex-direction:column;gap:4px;"
  ><Link href={`/posts/${id}`}>{title}</Link
  ><PostTags tags={tags} />
</div>
